<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-header page-scroll navbar-left">
                <a class="navbar-brand" href="#page-top">Software Engineer</a>
            </div>
        </div>
    </div>
</nav>
